@charset "UTF-8";
.van-toast[data-v-20e1659b] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-20e1659b] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-20e1659b] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-20e1659b] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-20e1659b] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-20e1659b] {
    z-index: 9999999 !important
}

.notice[data-v-20e1659b] {
    width: .64rem;
    height: .64rem
}

.notice_91[data-v-20e1659b] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .64rem;
    box-sizing: border-box;
    overflow: hidden
}

.notice_91-body[data-v-20e1659b] {
    overflow: hidden;
    height: .8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.notice_91-body-text[data-v-20e1659b] {
    width: 100%;
    height: -webkit-fit-content;
    height: fit-content;
    color: #1e2637;
    max-height: .64rem;
    line-height: .32rem;
    font-size: .24rem;
    -webkit-animation: marquee-20e1659b 7s linear infinite;
    animation: marquee-20e1659b 7s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: column;
    -webkit-justify-content: column;
    justify-content: column;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    top: -.08rem
}

@-webkit-keyframes marquee-20e1659b {
    0% {
        -webkit-transform: translateY(110%);
        transform: translateY(110%)
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes marquee-20e1659b {
    0% {
        -webkit-transform: translateY(110%);
        transform: translateY(110%)
    }
    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.van-toast[data-v-a46ec9fd] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-a46ec9fd] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-a46ec9fd] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-a46ec9fd] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-a46ec9fd] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-a46ec9fd] {
    z-index: 9999999 !important
}

.terms[data-v-a46ec9fd] {
    background: #fff;
    border-radius: .32rem;
    padding: .42667rem .32rem;
    box-shadow: 0 .05333rem .26667rem #0000000d
}

.terms-logo[data-v-a46ec9fd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: .26667rem 0
}

.terms-logo>*[data-v-a46ec9fd] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.terms-logo-left[data-v-a46ec9fd] {
    width: 2.48rem;
    height: .93333rem
}

.terms-logo-left img[data-v-a46ec9fd] {
    width: 100%
}

.terms-logo-service[data-v-a46ec9fd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 1.06667rem
}

.terms-logo svg[data-v-a46ec9fd],
.terms-logo img[data-v-a46ec9fd] {
    height: 1.06667rem;
    margin: auto
}

.terms-icons[data-v-a46ec9fd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: .66667rem
}

.terms-icons svg[data-v-a46ec9fd] {
    width: 2.8rem;
    height: 1.06667rem;
    margin-bottom: .21333rem
}

.terms-rule[data-v-a46ec9fd] {
    color: #7d889d;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .32rem;
    font-style: normal;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: .45333rem;
    gap: .18667rem
}

.terms-rule svg[data-v-a46ec9fd] {
    width: .21333rem;
    height: .21333rem;
    position: relative;
    top: .10667rem
}

.terms-tips[data-v-a46ec9fd] {
    color: var(--norm_red-color);
    font-family: Inter;
    font-size: .32rem;
    font-weight: 400;
    -webkit-padding-start: .37333rem;
    padding-inline-start: .37333rem
}

.van-toast[data-v-7f6671cd] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-7f6671cd] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-7f6671cd] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-7f6671cd] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-7f6671cd] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-7f6671cd] {
    z-index: 9999999 !important
}

.rank .title[data-v-7f6671cd] {
    font-size: .37333rem;
    font-style: normal;
    font-weight: 900;
    color: #1e2637;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .06667rem;
    margin-bottom: .32rem;
    font-family: "Alibaba PuHuiTi 3.0"
}

.rank .title svg[data-v-7f6671cd] {
    width: .53333rem;
    height: .53333rem
}

.rank_c[data-v-7f6671cd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    padding: .42667rem .32rem;
    border-radius: .32rem;
    box-shadow: 0 .05333rem .26667rem #0000000d
}

.rank_c-topThree[data-v-7f6671cd] {
    width: 100%;
    height: -webkit-fit-content;
    height: fit-content;
    background-image: url(/assets/svg/91-rank_bg-f3e6dccd.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.rank_c-topThree>div[data-v-7f6671cd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.rank_c-topThree>div .name[data-v-7f6671cd] {
    font-size: .32rem;
    font-weight: 900;
    line-height: .42667rem
}

.rank_c-topThree>div .money[data-v-7f6671cd] {
    font-size: .32rem;
    font-weight: 500;
    line-height: .42667rem;
    font-family: "Alibaba PuHuiTi 3.0"
}

.rank_c-topThree .r1[data-v-7f6671cd] {
    position: relative;
    height: 4.69333rem;
    width: 3.28rem
}

.rank_c-topThree .r1[data-v-7f6671cd]:after {
    width: .64rem;
    height: .64rem;
    content: "";
    display: block;
    background-image: url(/assets/svg/91-top1-7ad9614c.svg);
    background-size: .64rem;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(.13333rem) translateY(-.21333rem);
    transform: translate(.13333rem) translateY(-.21333rem)
}

.rank_c-topThree .r1 img[data-v-7f6671cd] {
    width: 1.46667rem;
    height: 1.46667rem;
    border-radius: 50%;
    border: .05333rem solid #FB5755;
    box-shadow: 0 .16rem .21333rem #ff667852
}

.rank_c-topThree .r1 .name[data-v-7f6671cd] {
    color: #ff2d5f;
    margin-top: 1.65333rem
}

.rank_c-topThree .r1 .money[data-v-7f6671cd] {
    color: #bc2958
}

.rank_c-topThree .r2[data-v-7f6671cd] {
    padding-top: 1.33333rem;
    width: 2.62667rem
}

.rank_c-topThree .r2 img[data-v-7f6671cd] {
    width: 1.12rem;
    height: 1.12rem;
    border-radius: 50%;
    border: .05333rem solid #FF9051;
    box-shadow: 0 .16rem .19733rem #ff9c654d
}

.rank_c-topThree .r2 .name[data-v-7f6671cd] {
    color: #ff772a;
    margin-top: .98667rem
}

.rank_c-topThree .r2 .money[data-v-7f6671cd] {
    font-size: .26667rem;
    color: #b75c36
}

.rank_c-topThree .r3[data-v-7f6671cd] {
    padding-top: 1.33333rem;
    width: 2.62667rem
}

.rank_c-topThree .r3 img[data-v-7f6671cd] {
    width: 1.12rem;
    height: 1.12rem;
    border-radius: 50%;
    border: .05333rem solid #FFB939;
    box-shadow: 0 .16rem .19733rem #ffc0474d
}

.rank_c-topThree .r3 .name[data-v-7f6671cd] {
    color: #ffb628;
    margin-top: .98667rem
}

.rank_c-topThree .r3 .money[data-v-7f6671cd] {
    font-size: .26667rem;
    color: #b58735
}

.rank_c-topThree img[data-v-7f6671cd] {
    background: var(--bg_color_L1)
}

.rank_c-list[data-v-7f6671cd] {
    position: relative;
    z-index: 2;
    width: 100%
}

.rank_c-list__item[data-v-7f6671cd] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 1.49333rem
}

.rank_c-list__item[data-v-7f6671cd]:not(:first-of-type) {
    border-top: .02667rem solid #F1F2F4
}

.rank_c-list__item span.left-rank[data-v-7f6671cd] {
    font-size: .32rem;
    font-weight: 900;
    color: #1e2637;
    font-family: Alfa Slab One;
    -webkit-margin-end: .26667rem;
    margin-inline-end: .26667rem
}

.rank_c-list__item span.middle-name[data-v-7f6671cd] {
    color: #1e2637;
    font-size: .32rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-margin-start: .16rem;
    margin-inline-start: .16rem
}

.rank_c-list__item span.right-box[data-v-7f6671cd] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    line-height: .66667rem;
    color: #fb5755;
    text-align: end
}

.rank_c-list__item img[data-v-7f6671cd] {
    width: .85333rem;
    height: .85333rem;
    border-radius: 50%
}

.van-toast[data-v-08b9f980] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-08b9f980] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-08b9f980] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-08b9f980] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-08b9f980] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-08b9f980] {
    z-index: 9999999 !important
}

.lobbyItem .h[data-v-08b9f980] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: center;
    align-content: center;
    height: .58667rem
}

.lobbyItem .h .d[data-v-08b9f980] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    gap: .21333rem
}

.lobbyItem .h .d>div[data-v-08b9f980] {
    border-radius: .10667rem;
    background: #FFF;
    height: .58667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none
}

.lobbyItem .h .d>div.disabled[data-v-08b9f980] {
    cursor: not-allowed;
    opacity: .5
}

.lobbyItem .h .d .more[data-v-08b9f980] {
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .29333rem;
    font-style: normal;
    font-weight: 600;
    padding: 0 .21333rem
}

.lobbyItem .h .d .left[data-v-08b9f980] {
    width: .69333rem;
    background-repeat: no-repeat;
    background-image: url(/assets/svg/a_l-bdcbc373.svg);
    background-size: contain;
    background-position: center
}

.lobbyItem .h .d .right[data-v-08b9f980] {
    width: .69333rem;
    background-repeat: no-repeat;
    background-image: url(/assets/svg/a_r-3ea0381d.svg);
    background-size: contain;
    background-position: center
}

.lobbyItem .b[data-v-08b9f980] {
    margin-top: .42667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    gap: .16rem;
    overflow-x: auto
}

.lobbyItem .b-item[data-v-08b9f980] {
    width: 2.96rem;
    height: 4rem;
    position: relative;
    left: .01333rem
}

.lobbyItem .b-item img[data-v-08b9f980] {
    width: 2.96rem;
    height: 4rem
}

.van-toast[data-v-a0c8d129] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-a0c8d129] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-a0c8d129] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-a0c8d129] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-a0c8d129] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-a0c8d129] {
    z-index: 9999999 !important
}

.title[data-v-a0c8d129] {
    height: .53333remd;
    color: #1e2637;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .37333rem;
    font-weight: 900;
    -webkit-padding-start: .66667rem;
    padding-inline-start: .66667rem;
    background-repeat: no-repeat;
    background-size: .53333rem;
    background-position: left center;
    background-image: url(/assets/svg/super-321d08ff.svg)
}

.title>div[data-v-a0c8d129] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .16rem
}

.tip[data-v-a0c8d129] {
    color: #7d889d;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .32rem;
    font-style: normal;
    font-weight: 400;
    line-height: .45333rem;
    margin-bottom: .32rem
}

.tip span[data-v-a0c8d129] {
    color: #fb5755;
    font-weight: 700
}

.picContainer[data-v-a0c8d129] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .16rem
}

.picContainer>div[data-v-a0c8d129] {
    position: relative;
    width: calc((100% - .32rem) / 3);
    border-radius: .13333rem;
    overflow: hidden;
    font-size: .29333rem
}

.picContainer>div img[data-v-a0c8d129] {
    width: 2.96rem;
    height: 4rem
}

.picContainer>div .multiple[data-v-a0c8d129] {
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #da22e4 0%, #981bfa 100%);
    background: linear-gradient(90deg, #da22e4 0%, #981bfa 100%);
    height: .53333rem;
    line-height: .53333rem;
    padding: 0 .26667rem;
    font-size: .32rem;
    font-weight: 700;
    border-bottom-right-radius: .13333rem;
    color: #fff
}

.picContainer>div .gameName[data-v-a0c8d129] {
    color: #1e2637;
    font-family: Roboto;
    font-size: .29333rem;
    font-style: normal;
    font-weight: 400
}

.picContainer>div .bonusAmount[data-v-a0c8d129] {
    color: #fb5755;
    font-family: Roboto;
    font-size: .29333rem;
    font-style: normal;
    font-weight: 500
}

.btn[data-v-a0c8d129] {
    border-radius: .16rem;
    background: #FB5755;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 9.36rem;
    height: 1.04rem;
    padding: .26667rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    margin-top: .32rem
}

.right_btn svg[data-v-a0c8d129] {
    width: .77333rem;
    height: .42667rem
}

.van-toast[data-v-657212e7] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-657212e7] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-657212e7] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-657212e7] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-657212e7] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-657212e7] {
    z-index: 9999999 !important
}

.lobby[data-v-657212e7] {
    font-family: "Alibaba PuHuiTi 3.0";
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    gap: .74667rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.lobby .lottery .h[data-v-657212e7] {
    -webkit-padding-start: .96rem;
    padding-inline-start: .96rem;
    background-image: url(/assets/svg/ball_8-075598b0.svg);
    background-size: .8rem;
    background-repeat: no-repeat;
    background-position-y: center
}

.lobby .lottery .h .t[data-v-657212e7] {
    color: #1e2637;
    font-size: .37333rem;
    font-style: normal;
    font-weight: 900;
    height: .53333rem
}

.lobby .lottery .h .d[data-v-657212e7] {
    color: #7d889d;
    font-size: .32rem;
    font-style: normal;
    font-weight: 400
}

.lobby .lottery .b[data-v-657212e7] {
    margin-top: .42667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .32rem
}

.lobby .lottery .b>img[data-v-657212e7] {
    width: 4.52rem;
    height: 2.66667rem
}

.miniGame[data-v-657212e7] {
    width: 2.61333rem;
    height: .53333rem;
    background-image: url(/assets/svg/mini-4ae18c6b.svg);
    background-repeat: no-repeat;
    background-size: cover
}

.title[data-v-657212e7] {
    color: #1e2637;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .37333rem;
    font-style: normal;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    -webkit-padding-start: .66667rem;
    padding-inline-start: .66667rem;
    height: .58667rem;
    line-height: .58667rem
}

.title.pop[data-v-657212e7] {
    background-image: url(/assets/svg/pop-bc4fd589.svg)
}

.title.slot[data-v-657212e7] {
    background-image: url(/assets/svg/slots_a-de9dd5ee.svg)
}

.title.chess[data-v-657212e7] {
    background-image: url(/assets/svg/card_a-1da2e03a.svg)
}

.title.fishing[data-v-657212e7] {
    background-image: url(/assets/png/fishing_a-8b8f8c2c.webp)
}

.title.live[data-v-657212e7] {
    background-image: url(/assets/svg/live-7d277a8c.svg)
}

.title.sport[data-v-657212e7] {
    background-image: url(/assets/svg/sports_a-5313dd33.svg)
}

.tip[data-v-657212e7] {
    color: #7d889d;
    height: .45333rem;
    line-height: .45333rem;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .32rem;
    font-style: normal;
    font-weight: 400
}

.van-toast[data-v-1e6f54c5] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-1e6f54c5] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-1e6f54c5] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-1e6f54c5] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-1e6f54c5] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-1e6f54c5] {
    z-index: 9999999 !important
}

.allGame[data-v-1e6f54c5] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .21333rem
}

.allGame .allGame-item[data-v-1e6f54c5] {
    position: relative;
    width: 2.96rem;
    height: 4rem
}

.allGame .allGame-item img[data-v-1e6f54c5] {
    width: 100%;
    height: 100%
}

.van-toast[data-v-e9f45d50] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-e9f45d50] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-e9f45d50] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-e9f45d50] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-e9f45d50] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-e9f45d50] {
    z-index: 9999999 !important
}

.allGame[data-v-e9f45d50] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .32rem
}

.allGame .head[data-v-e9f45d50] {
    border-radius: .10667rem;
    background: #FFF;
    box-shadow: 0 .05333rem .13333rem #1e26370d;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .96rem;
    padding: 0 .32rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #696f7a;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .37333rem;
    font-weight: 600
}

.allGame .head[data-v-e9f45d50]:after {
    content: "";
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: .13333rem;
    height: .08rem;
    background-image: url(/assets/svg/down-04fd7938.svg);
    background-repeat: no-repeat;
    background-size: cover
}

.allGame .body[data-v-e9f45d50] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: .21333rem
}

.allGame .body .body-item[data-v-e9f45d50] {
    width: 2.96rem;
    height: 4rem;
    position: relative
}

.allGame .body .body-item img[data-v-e9f45d50] {
    width: 2.96rem;
    height: 4rem
}

.allGame .btn[data-v-e9f45d50] {
    border-radius: .16rem;
    background: #FFF;
    box-shadow: 0 .05333rem .26667rem #0000000d;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 1.06667rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #1e2637;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .37333rem;
    font-style: normal;
    font-weight: 500
}

.list[data-v-e9f45d50] {
    padding: .4rem .32rem
}

.list>div[data-v-e9f45d50] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 1.6rem;
    color: #000;
    text-align: center;
    font-family: PingFang SC;
    font-size: .35897rem;
    font-weight: 500;
    -webkit-padding-start: .61333rem;
    padding-inline-start: .61333rem;
    background-size: .4rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/assets/svg/select-473a892e.svg)
}

.list>div.active[data-v-e9f45d50] {
    background-image: url(/assets/svg/active-7c5807cc.svg)
}

.list>div[data-v-e9f45d50]:not(:first-child) {
    border-top: .02667rem solid #F2F2F2
}

.list .gameIcon[data-v-e9f45d50] {
    width: 1.33333rem;
    height: .66667rem;
    color: #696f7a
}

.van-toast[data-v-6f952d30] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-6f952d30] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-6f952d30] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-6f952d30] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-6f952d30] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-6f952d30] {
    z-index: 9999999 !important
}

@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(/assets/woff2/AlibabaSans-Black-e97c0135.woff2) format("woff2");
    font-weight: 900;
    font-display: swap
}

@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(/assets/woff2/AlibabaSans-Bold-3e4d2485.woff2) format("woff2");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(/assets/woff2/AlibabaSans-Heavy-9f9b10be.woff2) format("woff2");
    font-weight: 800;
    font-display: swap
}

@font-face {
    font-family: AlibabaPuHuiTi;
    src: url(/assets/woff2/AlibabaSans-Medium-83f949d3.woff2) format("woff2");
    font-weight: 500;
    font-display: swap
}

.game .nav[data-v-6f952d30] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: -webkit-fit-content;
    height: fit-content;
    width: 100%;
    overflow-x: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: .08rem
}

.game .nav.sticky[data-v-6f952d30] {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    border-bottom: .01333rem solid #D8D9DB;
    background: #F1F2F5;
    box-shadow: 0 .05333rem .21333rem #00000026;
    z-index: 1000;
    height: 1.73333rem;
    padding: 0 .32rem;
    max-width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%)
}

.game .nav>div[data-v-6f952d30] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .96rem;
    padding: 0 .21333rem 0 .69333rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .08rem;
    color: #696f7a;
    background-position-x: .21333rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: .48rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    font-family: "Alibaba PuHuiTi 3.0"
}

.game .nav>div.lobby[data-v-6f952d30] {
    background-image: url(/assets/svg/lobby-01d712f8.svg)
}

.game .nav>div.slots[data-v-6f952d30] {
    background-image: url(/assets/svg/slots-948e77a5.svg)
}

.game .nav>div.card[data-v-6f952d30] {
    background-image: url(/assets/svg/card-360bf263.svg)
}

.game .nav>div.fishing[data-v-6f952d30] {
    background-image: url(/assets/svg/fishing-0f617f3c.svg)
}

.game .nav>div.casino[data-v-6f952d30] {
    background-image: url(/assets/svg/casino-dc6311fa.svg)
}

.game .nav>div.sports[data-v-6f952d30] {
    background-image: url(/assets/svg/sports-f39c72c0.svg)
}

.game .nav>div.miniGame[data-v-6f952d30] {
    width: 2.16rem;
    background-image: url(/assets/svg/miniGame-e67d1c1b.svg);
    background-position-x: center;
    background-size: 1.69333rem .61333rem
}

.game .nav>div img.game[data-v-6f952d30] {
    height: .61333rem
}

.game .nav>div.active[data-v-6f952d30] {
    border-radius: .10667rem;
    background-color: #fff;
    box-shadow: 0 .05333rem .13333rem #1e26370d;
    font-size: .37333rem;
    color: #1e2637;
    font-style: normal;
    font-weight: 900
}

.game .nav>div.active.lobby[data-v-6f952d30] {
    background-image: url(/assets/svg/lobby_a-853a391c.svg)
}

.game .nav>div.active.slots[data-v-6f952d30] {
    background-image: url(/assets/svg/slots_a-de9dd5ee.svg)
}

.game .nav>div.active.card[data-v-6f952d30] {
    background-image: url(/assets/svg/card_a-1da2e03a.svg)
}

.game .nav>div.active.fishing[data-v-6f952d30] {
    background-image: url(/assets/png/fishing_a-8b8f8c2c.webp)
}

.game .nav>div.active.casino[data-v-6f952d30] {
    background-image: url(/assets/png/casino_a-037fd34b.webp)
}

.game .nav>div.active.sports[data-v-6f952d30] {
    background-image: url(/assets/svg/sports_a-5313dd33.svg)
}

.van-toast[data-v-f58322f8] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-f58322f8] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-f58322f8] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-f58322f8] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-f58322f8] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-f58322f8] {
    z-index: 9999999 !important
}

.winner_91[data-v-f58322f8] {
    color: #1e2637
}

.winner_91 .title[data-v-f58322f8] {
    height: .53333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    font-size: .37333rem;
    font-weight: 900;
    margin-bottom: .32rem;
    font-family: "Alibaba PuHuiTi 3.0"
}

.winner_91 .title svg[data-v-f58322f8] {
    width: .53333rem;
    height: .53333rem
}

.winner_91-wrapper[data-v-f58322f8] {
    height: -webkit-fit-content;
    height: fit-content;
    border-radius: .13333rem;
    overflow: hidden;
    font-family: "Alibaba PuHuiTi 3.0";
    font-size: .32rem;
    border-radius: .32rem;
    background: #FFF;
    box-shadow: 0 .05333rem .26667rem #0000000d
}

.winner_91-wrapper .head[data-v-f58322f8] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .42667rem .32rem .32rem;
    border-bottom: .02667rem solid #F1F2F4;
    font-weight: 500;
    font-size: .37333rem;
    color: #1e2637
}

.winner_91-wrapper .head>div[data-v-f58322f8] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.winner_91-wrapper .head>div[data-v-f58322f8]:nth-child(2) {
    text-align: center
}

.winner_91-wrapper .head>div[data-v-f58322f8]:nth-child(3) {
    text-align: end
}

.winner_91-wrapper .body[data-v-f58322f8] {
    padding: 0 .32rem .32rem
}

.winner_91-wrapper__item[data-v-f58322f8] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 1.17333rem;
    border-bottom: .02667rem solid #F1F2F4
}

.winner_91-wrapper__item[data-v-f58322f8]:last-child {
    border-bottom: none
}

.winner_91-wrapper__item>div[data-v-f58322f8] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden
}

.winner_91-wrapper__item .game[data-v-f58322f8] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .24rem
}

.winner_91-wrapper__item .game svg[data-v-f58322f8] {
    width: .53333rem;
    height: .53333rem
}

.winner_91-wrapper__item .name[data-v-f58322f8] {
    color: #7d889d;
    text-align: center
}

.winner_91-wrapper__item .amount[data-v-f58322f8] {
    text-align: end;
    color: #fb5755
}

.van-toast[data-v-b3bd7e49] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-b3bd7e49] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-b3bd7e49] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-b3bd7e49] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-b3bd7e49] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-b3bd7e49] {
    z-index: 9999999 !important
}

.btn[data-v-b3bd7e49] {
    position: fixed;
    left: 50%;
    bottom: 2.4rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    width: 4.45333rem;
    height: 1.06667rem;
    background: var(--downBg, var(--main_gradient-color2));
    border-radius: 1.06667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: .13333rem;
    z-index: 2;
    padding: 0 .26667rem
}

.btn .icon[data-v-b3bd7e49] {
    width: .64rem;
    height: .64rem
}

.btn .text[data-v-b3bd7e49] {
    color: #fff;
    text-shadow: 0 .02667rem .01333rem #E04846;
    font-family: Inter;
    font-size: .32rem;
    font-style: normal;
    font-weight: 700;
    line-height: .53333rem;
    letter-spacing: .0128rem;
    word-wrap: break-word;
    width: -webkit-fit-content;
    width: fit-content
}

.btn .bonus-con[data-v-b3bd7e49] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: .04rem
}

.btn .bonus-con .text[data-v-b3bd7e49] {
    font-weight: 500;
    margin-top: 0;
    font-size: .29333rem;
    line-height: 1
}

.btn .bonus-con .bonus[data-v-b3bd7e49] {
    font-size: .32rem;
    font-style: normal;
    font-weight: 600;
    line-height: .56rem;
    letter-spacing: .00747rem;
    color: #fff;
    text-shadow: 0 .02667rem .01333rem #E04846;
    line-height: 1
}

.van-toast {
    word-break: break-word !important
}

.cg-default.van-button {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog {
    z-index: 9999999 !important
}

.float {
    position: fixed;
    bottom: 4rem;
    right: .4rem;
    touch-action: none;
    z-index: 1000
}

.float-entry {
    width: 1.49333rem;
    height: 1.49333rem;
    border-radius: 50%;
    margin-bottom: .08rem
}

.reBenefit {
    background: var(--d9cf7d89-reBenefitBgUrl) no-repeat center/cover;
    position: relative
}

.reBenefit .downText {
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 0;
    bottom: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 1.46667rem;
    height: .36rem;
    padding: .02667rem .06667rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    border-radius: .93333rem;
    border: .01333rem solid #ffecca;
    background: #5a0b5d;
    box-shadow: .01333rem .02667rem .01333rem #fffbff4d inset
}

.reBenefit .downText .time {
    background: -webkit-linear-gradient(top, #fff 0%, #ffda2f 100%);
    background: linear-gradient(180deg, #fff 0%, #ffda2f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 0 .02667rem 0 rgba(0, 0, 0, .25);
    font-family: Poppins;
    font-size: .29333rem;
    font-style: normal;
    font-weight: 600;
    line-height: .30667rem;
    letter-spacing: -.00667rem
}

.rewardCenter {
    background: var(--d9cf7d89-rewardCenterBgUrl) no-repeat center/cover
}

.turntable-lottery {
    background: url(/assets/png/turntable_icon-9b14cf81.webp) no-repeat center/cover
}

.turntable {
    background: var(--d9cf7d89-bigTurntableBgUrl) no-repeat center/cover
}

.big-turntable {
    background: var(--d9cf7d89-homeBigTurntableBgUrl) no-repeat center/cover
}

.turntable-telegram {
    background: var(--d9cf7d89-telegramBgUrl) no-repeat center/cover
}

.changlongEnter {
    background: var(--d9cf7d89-changlongIconUrl) no-repeat center/cover
}

.van-toast[data-v-3ad7aed7] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-3ad7aed7] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-3ad7aed7] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-3ad7aed7] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-3ad7aed7] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-3ad7aed7] {
    z-index: 9999999 !important
}

.swiper_box[data-v-3ad7aed7] {
    position: relative;
    padding: 0 .34667rem
}

.swiper_box .swiper-button[data-v-3ad7aed7] {
    padding-top: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.swiper_box .swiper-button span[data-v-3ad7aed7] {
    position: relative;
    display: inline-block;
    width: .10667rem;
    height: .10667rem;
    border-radius: .10667rem;
    background-color: #656565;
    margin: 0 .2rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.swiper_box .swiper-button .active[data-v-3ad7aed7] {
    background-color: var(--main-color);
    width: .26667rem;
    height: .10667rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.swiper_box .my-swipe[data-v-3ad7aed7] {
    height: 4.26667rem;
    box-sizing: border-box
}

.swiper_box .my-swipe img[data-v-3ad7aed7] {
    width: 100%;
    height: 100%;
    border-radius: .26667rem;
    -webkit-filter: var(--BoxShadowColor-35);
    filter: var(--BoxShadowColor-35)
}

.van-toast[data-v-d78763b5] {
    word-break: break-word !important
}

.cg-default.van-button[data-v-d78763b5] {
    font-weight: 700;
    font-size: .4rem
}

.cg-default.van-button .van-button__icon[data-v-d78763b5] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.cg-default.van-button .van-button__icon>img[data-v-d78763b5] {
    height: 80%
}

@media (orientation: landscape) {
    html.landscape[data-v-d78763b5] {
        font-size: 9vh !important
    }
}

.isAppForcedDownloadEnabled-dialog[data-v-d78763b5] {
    z-index: 9999999 !important
}

img[data-v-d78763b5] {
    height: 1.09333rem;
    width: auto
}

.nav-right[data-v-d78763b5] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .26667rem
}

.nav-right .nav-btn[data-v-d78763b5] {
    box-sizing: border-box;
    height: .74667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 .32rem;
    border-radius: .10667rem;
    font-size: .32rem;
    color: #fff;
    background: #fb5755;
    font-weight: 900
}

.nav-right .nav-btn.login[data-v-d78763b5] {
    background: transparent;
    color: #1e2637;
    border: .02667rem solid #d0d5de
}

.nav-right .downIcon[data-v-d78763b5] {
    width: .64rem;
    height: .64rem
}

.club91[data-v-d78763b5] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .72rem;
    padding: .32rem .32rem 1.89333rem
}

.club91>.h[data-v-d78763b5] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .32rem
}

.club91 .message[data-v-d78763b5] {
    position: relative
}

.club91 .message svg[data-v-d78763b5] {
    width: .64rem;
    height: .64rem
}

.club91 .message .point[data-v-d78763b5] {
    position: absolute;
    top: .02667rem;
    right: 0
}

.club91 .amount[data-v-d78763b5] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    gap: .32rem
}

.club91 .amount .a1[data-v-d78763b5] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #1e2637
}

.club91 .amount .a1 .title[data-v-d78763b5] {
    font-size: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .08rem;
    height: .37333rem;
    gap: .06667rem
}

.club91 .amount .a1 .title svg[data-v-d78763b5] {
    width: .34667rem;
    height: .34667rem
}

.club91 .amount .a1 .a[data-v-d78763b5] {
    height: .61333rem;
    font-size: .42667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .13333rem;
    font-weight: 900
}

.club91 .amount .a1 .a svg[data-v-d78763b5] {
    width: .53333rem;
    height: .53333rem
}

.club91 .amount .a2[data-v-d78763b5] {
    width: 1.81333rem;
    height: 1.06667rem;
    background-image: url(/assets/svg/91-withdraw_btn-c8a3085c.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: .32rem;
    font-weight: 900;
    color: #fff
}

.club91 .amount .a2 svg[data-v-d78763b5] {
    width: .32rem;
    height: .32rem
}

.club91 .amount .a2[data-v-d78763b5]:last-child {
    background-image: url(/assets/svg/91-recharge_btn-ff2482b8.svg)
}

.club91 .wv[data-v-d78763b5] {
    height: 1.30667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.club91 .wv svg[data-v-d78763b5] {
    height: 1.30667rem;
    width: calc(50% - .16rem);
    border-radius: .21333rem;
    box-shadow: 0 .05333rem .21333rem -.05333rem #fb4b8699
}

.club91 .wv svg[data-v-d78763b5]:last-of-type {
    box-shadow: 0 .05333rem .21333rem -.05333rem #f135fb99
}

.club91 .nop[data-v-d78763b5] {
    padding: 0
}

.club91[data-v-d78763b5] .van-dialog {
    width: 8.29333rem;
    height: 12.4rem;
    border-radius: .2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    overflow: hidden
}

.club91[data-v-d78763b5] .van-dialog__content {
    position: relative;
    width: 100%
}

.club91[data-v-d78763b5] .van-dialog__content .promptHeader {
    background: var(--main_gradient-color);
    text-align: center;
    height: 1.17333rem;
    line-height: 1.17333rem;
    color: #fff;
    font-weight: 700;
    font-size: .48rem
}

.club91[data-v-d78763b5] .van-dialog__content .promptContent {
    height: 9.33333rem;
    padding: .4rem .26667rem;
    overflow-y: auto
}

.club91[data-v-d78763b5] .van-dialog__content .promptContent img {
    max-width: 7.73333rem
}

.club91[data-v-d78763b5] .van-dialog__footer {
    z-index: 100;
    position: fixed;
    bottom: .4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    gap: .26667rem;
    width: 90%
}

.club91[data-v-d78763b5] .van-dialog .van-button__text {
    color: #fff;
    width: 80%;
    height: .93333rem;
    text-align: center;
    line-height: .93333rem;
    background: var(--main_gradient-color);
    border-radius: 1.06667rem;
    z-index: 100;
    font-weight: 700;
    font-size: .42667rem;
    font-family: Inter;
    font-style: normal;
    letter-spacing: .06667rem
}